* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*** DEBUG ***/
    /*background: #000 !important;*/
    /*color: #0f0 !important;*/
    /*outline: solid #f00 1px !important;*/
}

body {
    display: flex;
    justify-content: center;
    --card-size: 150px;
}

header,
.card-grid {
    width: calc(15px * 6 + var(--card-size) * 3);
    min-width: calc(15px * 6 + var(--card-size) * 3);
}

header {
    background: #007BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    height: 4em;
    margin: 1em 0 2em;
}

h1 {
    font-weight: 200;
}

.card-grid {
    background: #CCE5FF;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.rotatable-wrapper {
    display:flex;
    align-items:center;
}

.rotatable {
    position: relative;
    transition: 0.75s ease;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.card {
    height: var(--card-size);
    width: var(--card-size);
    margin: 15px;
}

.rotatable-wrapper:hover .rotatable {
    transform: perspective(350px) rotateY(180deg);
}

.card--side {
    align-items: center;
    border-radius: 1em;
}

.rotatable--front,
.rotatable--back {
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.rotatable--back {
    transform: rotateY(180deg);
}

.card--side.rotatable--front {
    background: white;
    color: #007BFF;
}

.card--side.rotatable--back {
    background: #007BFF;
    color: white;
}

pre {
    display: block;
    text-align: center;
}

nav {
    margin-top: 2em;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
}

.control-icon {
    position: relative;
    background: #007BFF;
    height: 4em;
    width: 4em;
    border-radius: 2em;
}

input#change-language {
    display: none;
}

.change-language--label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.control-icon.rotatable-wrapper:hover .rotatable {
    transform: perspective(350px) rotateY(0deg);
}

input#change-language:checked ~ .rotatable {
    transform: perspective(350px) rotateY(180deg);
}